@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CMU-Serif';
    font-weight: 400;
    src: url(/fonts/cmunbi.ttf) format("ttf");
  }
  @font-face {
    font-family: 'AdobeTextPro-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('AdobeTextPro-Regular'), url(../public/assets/fonts/AdobeTextPro-Regular.woff) format('woff'); 
    }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-Book.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  a {
    @apply hover:underline hover:text-white
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color is the font color */
  /* see some tailwind preset colors: https://tailwindcss.com/docs/customizing-colors */
  color: #F5F5F5; 
  width: 100dvw;
  overflow: hidden; /* hides both x and y direction scrollbars -> see https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  height: 100%;
  background: #080808; /* bg used to be #151515 */
  border-color: #3b3b3b;
  user-select: none;
}
  

canvas {
  touch-action: none;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}