@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CMU-Serif';
    font-weight: 400;
    src: url(/fonts/cmunbi.ttf) format("ttf");
  }
  @font-face {
    font-family: 'AdobeTextPro';
    font-style: normal;
    font-weight: 400;
    src: url(../public/assets/fonts/AdobeTextPro-Regular.woff) format('woff'); 
    }
  @font-face {
    font-family: 'Suisse-Works';
    src: url(../public/assets/fonts/suisseWorks/SuisseWorks-Regular-WebTrial.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Suisse-Works';
    src: url(../public/assets/fonts/suisseWorks/SuisseWorks-RegularItalic-WebTrial.woff2) format('woff');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-Book.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  /* THIN */
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueThin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  /* LIGHT */
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueLight.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueRoman.otf) format('opentype');
    /* NORMAL */
    font-weight: 400;
    font-style: normal;
  }
  @font-face{
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueMedium.otf) format('opentype');
    /* MEDIUM */
    font-weight: 500; 
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueBold.otf) format('opentype');
    /* BOLD */
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueBlack.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  a {
    @apply hover:underline hover:text-white
  }

  :root{
    /* FONTS */
    --font-h1: "Helvetica-Neue";
    --fs-h1: 3.875rem;
    --lh-h1: 1.625rem;
    --ls-h1: -0.13019rem;

    
    --fs-p: 1.37294rem;
    --lh-p: 1.625rem;
    --lh-p2: 1.5em;

    --fs-callout: 3.1925rem;
    --lh-callout: 3.25rem;
    --w-callout: 300;
  }

}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* color is the font color */
  /* see some tailwind preset colors: https://tailwindcss.com/docs/customizing-colors */
  /* color: #F5F5F5;  */
  color: black;
  width: 100dvw;
  overflow: hidden; /* hides both x and y direction scrollbars -> see https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  height: 100%;
  background: #080808; /* bg used to be #151515 */
  border-color: #3b3b3b;
  user-select: none;
}
  

canvas {
  touch-action: none;
}

html{
  font-size: 16px;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

/* FOR PLAY PAGE — MAKE CLICK A SMOOTH TRANSITION TO GREY */
.clicked {
  color: white;
  transition: color 0.5s ease;
}

.checkbox-label-checked {
  color: grey;
  transition: color 0.5s ease;
}

.checkbox-label-checked:hover {
  color: white;
}
