@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'CMU-Serif';
    font-weight: 400;
    src: url(/fonts/cmunbi.ttf) format("ttf");
  }
  @font-face {
    font-family: 'AdobeTextPro';
    font-style: normal;
    font-weight: 400;
    src: url(../public/assets/fonts/AdobeTextPro-Regular.woff) format('woff'); 
    }
  @font-face {
    font-family: 'SuisseWorks';
    src: url(../public/assets/fonts/suisseWorks/SuisseWorks-Regular-WebTrial.woff2) format('woff');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'SuisseWorks';
    src: url(../public/assets/fonts/suisseWorks/SuisseWorks-RegularItalic-WebTrial.woff2) format('woff');
    font-weight: 400;
    font-style: italic;
  }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-Book.otf) format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-Medium.otf) format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-SemiBold.otf) format('opentype');
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: 'Suisse';
    src: url(../public/assets/fonts/Suiss/SuisseIntlTrial-Bold.otf) format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  /* THIN */
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueThin.otf) format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  /* LIGHT */
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueLight.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueRoman.otf) format('opentype');
    /* NORMAL */
    font-weight: 400;
    font-style: normal;
  }
  @font-face{
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueMedium.otf) format('opentype');
    /* MEDIUM */
    font-weight: 500; 
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueBold.otf) format('opentype');
    /* BOLD */
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'Helvetica-Neue';
    src: url(../public/assets/fonts/helvetica/HelveticaNeueBlack.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'SFProDisplay';
    src: url(../public/assets/fonts/SFProDisplay/SF-Pro-Display-Black.otf) format('opentype');
    font-weight: 900;
    font-style: normal;
  }
    @font-face {
      font-family: 'SFProDisplay';
      src: url(../public/assets/fonts/SFProDisplay/SF-Pro-Display-Bold.otf) format('opentype');
      font-weight: 700;
      font-style: normal;
    }
    @font-face {
      font-family: 'SFProDisplay';
      src: url(../public/assets/fonts/SFProDisplay/SF-Pro-Display-Medium.otf) format('opentype');
      font-weight: 500;
      font-style: normal;
    }
    @font-face {
      font-family: 'SFProDisplay';
      src: url(../public/assets/fonts/SFProDisplay/SF-Pro-Display-Regular.otf) format('opentype');
      font-weight: 400;
      font-style: normal;
    }
    @font-face {
      font-family: 'SFProDisplay';
      src: url(../public/assets/fonts/SFProDisplay/SF-Pro-Display-Light.otf) format('opentype');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'InputMono';
      src: url(../public/assets/fonts/InputMono/InputMono-Regular.ttf) format('truetype');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'LabMono';
      src: url(../public/assets/fonts/labmono-regular-web.woff) format('woff');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'MonumentGroteskSemiMono';
      src: url(../public/assets/fonts/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff) format('woff');
      font-weight: 300;
      font-style: normal;
    }
    @font-face {
      font-family: 'MonumentGroteskSemiMonoThin';
      src: url(../public/assets/fonts/ABCMonumentGroteskSemi-Mono-Thin-Trial.woff) format('woff');
      font-weight: 100;
      font-style: normal;
    }

  a {
    /* @apply hover:text-mwsGrey; */
    /* cursor: none; */
  }

  

  /* OLD FONTS
  :root{
    
    --font-h1: "Helvetica-Neue";
    --fs-h1: 3.875rem;
    --lh-h1: 1.625rem;
    --ls-h1: -0.13019rem;

    
    --fs-p: 0.8rem; 
    --lh-p: 1.625rem;
    --lh-p2: 1.5em;

    --fs-callout: 3.1925rem;
    --lh-callout: 3.25rem;
    --w-callout: 300;
  }
  */

:root {
  /* FONTS */
  --font-h1: "SFPRoDisplay";
  --fs-h1: 3.875rem;
  --lh-h1: 1.625rem;
  --ls-h1: -0.13019rem;

  --fs-cap: 0.8rem; /* captions */
  --fs-p: 1.2rem;
  /* prev 1.37294rem */
  --lh-p: 1.625rem;
  --lh-cap:0.9rem;
  --lh-pMobile: 1.7rem;
  --lh-p3: 1.5rem; /* leading for serif paragraph text */

  --fs-callout: 3.1925rem;
  --lh-callout: 3.25rem;
  --lh-callout2: 4rem;
  --w-callout: 300;


  /* COLORS */
  --mwsGrey: #d4d4d4;
  --offBlack: #333333;
  --offBlack1: #373737;
  --offBlack2: #515151;
  --offBlack3: #939393;
}
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PREVENTS HORIZONTAL SCROLLING ISSUE ON MOBILE (/play modal) */
html,
body {
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
  
}


html {
  font-size: 16px;
  touch-action: auto;
}

body {
  /* color is the font color */
  /* see some tailwind preset colors: https://tailwindcss.com/docs/customizing-colors */
  /* color: #F5F5F5;  */
  color: #333333;
  width: 100dvw;
  
  height: 100%;
  background: #fafafa; /* bg used to be #151515, #080808 */
  border-color: #3b3b3b;
  user-select: none;
  /* USED FOR THE <Cursor /> Component */
  /* cursor: none; */
  cursor: crosshair;
  
  touch-action: auto;
}



/* Hide scrollbar for WebKit browsers */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
body {
  scrollbar-width: none;
  /* Firefox */
}




.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

/* FOR PLAY PAGE — MAKE CLICK A SMOOTH TRANSITION TO GREY */
.clicked {
  color: white;
  transition: color 0.5s ease;
}

.checkbox-label-checked {
  color: #d4d4d4; /* aka mwsGrey in tailwind.config */
  transition: color 0.5s ease;
}

.checkbox-label-checked:hover {
  color: #333333; /* Aka offblack in tailwind.config */
}

/* FONT ISSUE ON WORK */
.font-custom {
  font-family: 'InputMono', monospace;
}

html, body, button, input, textarea, select, a, [role="button"] {
  cursor: crosshair !important;
}