html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  /* so The image will always stay
   within the boundaries of its parent container.
   For example, on a smaller screen like a mobile device, an
    image with max-width: 100% will 
   shrink to fit the screen, preventing horizontal scrolling. */
  max-width: 100%;
  display: block;
}
