*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.17 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0px;
}

.bottom-\[10rem\] {
  bottom: 10rem;
}

.left-0 {
  left: 0px;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-2 {
  grid-column: span 2 / span 2;
}

.col-span-3 {
  grid-column: span 3 / span 3;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-start-2 {
  grid-column-start: 2;
}

.col-start-3 {
  grid-column-start: 3;
}

.col-start-5 {
  grid-column-start: 5;
}

.col-start-4 {
  grid-column-start: 4;
}

.m-0 {
  margin: 0px;
}

.m-1 {
  margin: 0.25rem;
}

.m-\[0\.6rem\] {
  margin: 0.6rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-\[10vh\] {
  margin-bottom: 10vh;
}

.ml-auto {
  margin-left: auto;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mt-16 {
  margin-top: 4rem;
}

.mt-\[10rem\] {
  margin-top: 10rem;
}

.mt-\[11vh\] {
  margin-top: 11vh;
}

.mt-\[12rem\] {
  margin-top: 12rem;
}

.mt-\[20vh\] {
  margin-top: 20vh;
}

.mb-24 {
  margin-bottom: 6rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-\[3\.06rem\] {
  margin-bottom: 3.06rem;
}

.mb-\[5rem\] {
  margin-bottom: 5rem;
}

.mt-\[2rem\] {
  margin-top: 2rem;
}

.mt-\[3\.5rem\] {
  margin-top: 3.5rem;
}

.mt-12 {
  margin-top: 3rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.h-4 {
  height: 1rem;
}

.h-auto {
  height: auto;
}

.h-\[10rem\] {
  height: 10rem;
}

.h-\[3\.33rem\] {
  height: 3.33rem;
}

.h-\[1px\] {
  height: 1px;
}

.max-h-\[45rem\] {
  max-height: 45rem;
}

.max-h-\[84vh\] {
  max-height: 84vh;
}

.w-\[70\%\] {
  width: 70%;
}

.w-full {
  width: 100%;
}

.w-\[33\%\] {
  width: 33%;
}

.w-\[66\%\] {
  width: 66%;
}

.w-\[800px\] {
  width: 800px;
}

.grow {
  flex-grow: 1;
}

.translate-y-0 {
  --tw-translate-y: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.columns-2 {
  -moz-columns: 2;
       columns: 2;
}

.columns-3 {
  -moz-columns: 3;
       columns: 3;
}

.break-inside-avoid {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.place-content-center {
  place-content: center;
}

.items-start {
  align-items: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-5 {
  gap: 1.25rem;
}

.gap-\[0\.2rem\] {
  gap: 0.2rem;
}

.gap-\[0\.5rem\] {
  gap: 0.5rem;
}

.gap-\[1\.31rem\] {
  gap: 1.31rem;
}

.gap-\[1rem\] {
  gap: 1rem;
}

.gap-\[5\.06rem\] {
  gap: 5.06rem;
}

.gap-\[5rem\] {
  gap: 5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-x-6 {
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-\[0\.5rem\] > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.self-end {
  align-self: flex-end;
}

.justify-self-end {
  justify-self: end;
}

.border-t {
  border-top-width: 1px;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-offBlack {
  --tw-bg-opacity: 1;
  background-color: rgb(51 51 51 / var(--tw-bg-opacity, 1));
}

.bg-opacity-85 {
  --tw-bg-opacity: 0.85;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.p-0 {
  padding: 0px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-\[2\.87rem\] {
  padding-top: 2.87rem;
  padding-bottom: 2.87rem;
}

.pb-\[0\.6rem\] {
  padding-bottom: 0.6rem;
}

.pb-\[1rem\] {
  padding-bottom: 1rem;
}

.pt-8 {
  padding-top: 2rem;
}

.pt-\[1rem\] {
  padding-top: 1rem;
}

.pb-\[5\.06rem\] {
  padding-bottom: 5.06rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.pt-\[2\.9375rem\] {
  padding-top: 2.9375rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.text-center {
  text-align: center;
}

.indent-\[1\.75rem\] {
  text-indent: 1.75rem;
}

.align-top {
  vertical-align: top;
}

.font-SFProDisplay {
  font-family: SFProDisplay, sans-serif;
}

.font-Suisse {
  font-family: Suisse, sans-serif;
}

.font-SuisseWorks {
  font-family: SuisseWorks, serif;
}

.font-sans {
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-\[0\.9rem\] {
  font-size: 0.9rem;
}

.text-\[1\.55rem\] {
  font-size: 1.55rem;
}

.text-\[1\.6rem\] {
  font-size: 1.6rem;
}

.text-\[12px\] {
  font-size: 12px;
}

.text-\[1rem\] {
  font-size: 1rem;
}

.text-\[26vw\] {
  font-size: 26vw;
}

.text-cap {
  font-size: var(--fs-cap);
}

.text-xl {
  font-size: 1.75rem;
}

.text-p {
  font-size: var(--fs-p);
}

.text-lg {
  font-size: 1.375rem;
}

.text-\[3rem\] {
  font-size: 3rem;
}

.font-bold {
  font-weight: 700;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

.leading-\[0\.75rem\] {
  line-height: 0.75rem;
}

.leading-\[1\.2rem\] {
  line-height: 1.2rem;
}

.leading-\[1\.55rem\] {
  line-height: 1.55rem;
}

.leading-\[1\.6rem\] {
  line-height: 1.6rem;
}

.leading-\[1rem\] {
  line-height: 1rem;
}

.leading-cap {
  line-height: var(--lh-cap);
}

.leading-none {
  line-height: 1;
}

.leading-p3 {
  line-height: var(--lh-p3);
}

.leading-pMobile {
  line-height: var(--lh-pMobile);
}

.leading-\[3rem\] {
  line-height: 3rem;
}

.tracking-tight {
  letter-spacing: -0.025em;
}

.tracking-tighter {
  letter-spacing: -0.05em;
}

.tracking-\[\'var\(--ls-h1\)\'\] {
  letter-spacing: 'var(--ls-h1)';
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity, 1));
}

.text-offBlack {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity, 1));
}

.text-offBlack2 {
  --tw-text-opacity: 1;
  color: rgb(81 81 81 / var(--tw-text-opacity, 1));
}

.text-offBlack3 {
  --tw-text-opacity: 1;
  color: rgb(147 147 147 / var(--tw-text-opacity, 1));
}

.underline {
  text-decoration-line: underline;
}

.opacity-0 {
  opacity: 0;
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

/* Font faces (copy from globals.css) */

@font-face {
  font-family: 'CMU-Serif';

  font-weight: 400;

  src: url(/fonts/cmunbi.ttf) format("ttf");
}

@font-face {
  font-family: 'AdobeTextPro';

  font-style: normal;

  font-weight: 400;

  src: url(../assets/fonts/AdobeTextPro-Regular.woff) format('woff');
}

@font-face {
  font-family: 'SuisseWorks';

  src: url(../assets/fonts/suisseWorks/SuisseWorks-Regular-WebTrial.woff2) format('woff');

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'SuisseWorks';

  src: url(../assets/fonts/suisseWorks/SuisseWorks-RegularItalic-WebTrial.woff2) format('woff');

  font-weight: 400;

  font-style: italic;
}

@font-face {
  font-family: 'Suisse';

  src: url(../assets/fonts/Suiss/SuisseIntlTrial-Book.otf) format('opentype');

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'Suisse';

  src: url(../assets/fonts/Suiss/SuisseIntlTrial-Medium.otf) format('opentype');

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: 'Suisse';

  src: url(../assets/fonts/Suiss/SuisseIntlTrial-SemiBold.otf) format('opentype');

  font-weight: 600;

  font-style: normal;
}

@font-face {
  font-family: 'Suisse';

  src: url(../assets/fonts/Suiss/SuisseIntlTrial-Bold.otf) format('opentype');

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueThin.otf) format('opentype');

  font-weight: 100;

  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueLight.otf) format('opentype');

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueRoman.otf) format('opentype');

  font-weight: 400;

  font-style: normal;
}

@font-face{
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueMedium.otf) format('opentype');

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueBold.otf) format('opentype');

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: 'Helvetica-Neue';

  src: url(../assets/fonts/helvetica/HelveticaNeueBlack.otf) format('opentype');

  font-weight: 900;

  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';

  src: url(../assets/fonts/SFProDisplay/SF-Pro-Display-Black.otf) format('opentype');

  font-weight: 900;

  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';

  src: url(../assets/fonts/SFProDisplay/SF-Pro-Display-Bold.otf) format('opentype');

  font-weight: 700;

  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';

  src: url(../assets/fonts/SFProDisplay/SF-Pro-Display-Medium.otf) format('opentype');

  font-weight: 500;

  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';

  src: url(../assets/fonts/SFProDisplay/SF-Pro-Display-Regular.otf) format('opentype');

  font-weight: 400;

  font-style: normal;
}

@font-face {
  font-family: 'SFProDisplay';

  src: url(../assets/fonts/SFProDisplay/SF-Pro-Display-Light.otf) format('opentype');

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'InputMono';

  src: url(../assets/fonts/InputMono/InputMono-Regular.ttf) format('truetype');

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'LabMono';

  src: url(../assets/fonts/labmono-regular-web.woff) format('woff');

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'MonumentGroteskSemiMono';

  src: url(../assets/fonts/ABCMonumentGroteskSemi-Mono-Regular-Trial.woff) format('woff');

  font-weight: 300;

  font-style: normal;
}

@font-face {
  font-family: 'MonumentGroteskSemiMonoThin';

  src: url(../assets/fonts/ABCMonumentGroteskSemi-Mono-Thin-Trial.woff) format('woff');

  font-weight: 100;

  font-style: normal;
}

:root {
  --font-h1: "SFPRoDisplay";
  --fs-h1: 3.875rem;
  --lh-h1: 1.625rem;
  --ls-h1: -0.13019rem;
  --fs-cap: 0.8rem;
  --fs-p: 1.2rem;
  --lh-p: 1.625rem;
  --lh-cap:0.9rem;
  --lh-pMobile: 1.7rem;
  --lh-p3: 1.5rem;
  --fs-callout: 3.1925rem;
  --lh-callout: 3.25rem;
  --lh-callout2: 4rem;
  --w-callout: 300;
  --mwsGrey: #d4d4d4;
  --offBlack: #333333;
  --offBlack1: #373737;
  --offBlack2: #515151;
  --offBlack3: #939393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
  touch-action: auto;
}

body {
  color: #333333;
  width: 100vw;
  height: 100%;
  background: #fafafa;
  border-color: #3b3b3b;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: crosshair;
  touch-action: auto;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  scrollbar-width: none;
}

.scrim-max-width {
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  max-width: 1120px;
}

.clicked {
  color: white;
  transition: color 0.5s ease;
}

.checkbox-label-checked {
  color: #d4d4d4;
  transition: color 0.5s ease;
}

.checkbox-label-checked:hover {
  color: #333333;
}

.font-custom {
  font-family: 'InputMono', monospace;
}

.hover\:text-mwsGrey:hover {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:translate-y-2 {
  --tw-translate-y: 0.5rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 640px) {
  .sm\:block {
    display: block;
  }

  .sm\:columns-2 {
    -moz-columns: 2;
         columns: 2;
  }

  .sm\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .sm\:gap-\[1rem\] {
    gap: 1rem;
  }
}

@media (min-width: 768px) {
  .md\:columns-3 {
    -moz-columns: 3;
         columns: 3;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:text-\[2\.75rem\] {
    font-size: 2.75rem;
  }

  .md\:text-p {
    font-size: var(--fs-p);
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }

  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .lg\:col-start-1 {
    grid-column-start: 1;
  }

  .lg\:col-start-2 {
    grid-column-start: 2;
  }

  .lg\:col-start-3 {
    grid-column-start: 3;
  }

  .lg\:col-start-4 {
    grid-column-start: 4;
  }

  .lg\:col-start-5 {
    grid-column-start: 5;
  }

  .lg\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .lg\:mb-\[11vh\] {
    margin-bottom: 11vh;
  }

  .lg\:mr-4 {
    margin-right: 1rem;
  }

  .lg\:mb-0 {
    margin-bottom: 0px;
  }

  .lg\:mt-\[3\.5rem\] {
    margin-top: 3.5rem;
  }

  .lg\:flex {
    display: flex;
  }

  .lg\:grid {
    display: grid;
  }

  .lg\:columns-3 {
    -moz-columns: 3;
         columns: 3;
  }

  .lg\:grid-cols-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .lg\:grid-cols-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:gap-4 {
    gap: 1rem;
  }

  .lg\:gap-1 {
    gap: 0.25rem;
  }

  .lg\:gap-\[0\.5rem\] {
    gap: 0.5rem;
  }

  .lg\:gap-\[5\.06rem\] {
    gap: 5.06rem;
  }

  .lg\:justify-self-end {
    justify-self: end;
  }

  .lg\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .lg\:pt-0 {
    padding-top: 0px;
  }

  .lg\:pt-\[0\.5rem\] {
    padding-top: 0.5rem;
  }

  .lg\:pb-\[5\.06rem\] {
    padding-bottom: 5.06rem;
  }

  .lg\:pb-\[5rem\] {
    padding-bottom: 5rem;
  }

  .lg\:text-5xl {
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-\[26vw\] {
    font-size: 26vw;
  }

  .lg\:text-base {
    font-size: 1rem;
  }

  .lg\:text-h1 {
    font-size: var(--fs-h1);
  }

  .lg\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:leading-\[1\.55rem\] {
    line-height: 1.55rem;
  }

  .lg\:leading-\[3\.7rem\] {
    line-height: 3.7rem;
  }

  .lg\:leading-normal {
    line-height: 1.5;
  }
} 